@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --green: #27ae60;
    --dark-color: #219150;
    --black: #444;
    --light-color: #666;
    --border: .1rem solid rgba(0, 0, 0, .1);
    --border-hover: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}
a{
    text-decoration: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

/*  webkit scrollbar diye html e ekta scrollbar lagaisi*/
html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--black);
}

section {
    padding: 5rem 9%;
}

.heading {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: rgba(0, 0, 0, .1);
    z-index: -1;
}

.heading span {
    font-size: 3rem;
    padding: .5rem 2rem;
    color: var(--black);
    background: #fff;
    border: var(--border);
}

.header .header1 {
    background: #fff;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header1 .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .header1 .logo i {
    color: var(--green);
}

.header .header1 .search-form {
    width: 50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header1 .search-form input {
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}

.header .header1 .search-form label {
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header1 .search-form label:hover {
    color: var(--green);
}

.header .header1 .icons div,
.header .header1 .icons a {
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header1 .icons div:hover,
.header .header1 .icons a:hover {
    color: var(--green);
}
.points{
    padding: 2rem 2rem;
    font-weight: 500;
    text-align: center;
    font-size: 3rem;
}
.points>.row>.ic{
    margin-left: 2rem;
    font-size: 10rem;
    
}
.points h1{
    text-align: center;
    position: absolute;
    position: absolute;
    bottom: 17%;
    font-size: 3rem;
}

.btn, .btn-primary:active, .btn-primary:visited {
    margin-top: 1rem;
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: .5rem;
    color: #fff;
    background: var(--green);
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 500;
    background-color: #27ae60 !important;
}
.large-btn{
    padding: 1rem 2rem;
    font-weight: 700;
    font-size: 2rem;
}
.btn-primary:hover{
    background-color: #219150 !important;
}

#search-btn {
    display: none;
}

.header .header2 {
    background: var(--green);
}

.header .header2 .navbarg {
    text-align: center;
}

.header .header2 .navbarg a {
    color: #fff;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
}

.header .header2 .navbarg a:hover {
    background: var(--dark-color);
}

.header .header2.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}

.bottom-navbar {
    text-align: center;
    background: var(--green);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a {
    font-size: 2.5rem;
    padding: 2rem;
    color: #fff;
}

.bottom-navbar a:hover {
    background: var(--dark-color);
}

.nav-borders .nav-link.active {
    color: var(--dark-color);
    border-bottom-color: var(--dark-color);
}
.nav-borders .nav-link {
    font-size: 1.2rem;
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* books recived*/
.home {
    background: url(../image/banner-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 1.2rem;
}
.img-account-profile {
    height: 100%;
}
.rounded-circle {
    border-radius: 50% !important;
}
.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
    font-weight: 100;
}
.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    text-align: center;
}
.about{
    padding: 1.5rem;
}

.search-book{
    background-color:rgb(233, 233, 233);
    padding: 1rem 1rem;
}
.bookcover>img{
  margin:start;
  border-radius: 5px;
  width: 200px;
  height: 300px;
}
.details{
    align-self: left;
    text-align: middle;
}
.home .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .row .content {
    flex: 1 1 42rem;
}


.pagination > li > a
{
    background-color: white;
    color: var(--green);
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: var(--dark-color);
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: var(--green)!Important;
    border: solid 1px var(--green) !Important;
}

.pagination > .active > a:hover
{
    background-color: var(--dark-color) !Important;
    border: solid 1px var(--dark-color);
}

/*icons*/
.icons-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
}

.icons-container .icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
}

.icons-container .icons i {
    font-size: 3.5rem;
    color: var(--green);
}

.icons-container .icons h3 {
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.icons-container .icons p {
    font-size: 1.4rem;
    color: var(--light-color);
}



.notification {
    position: relative;
    display: inline-block;
}
.notification .badge {
    position: absolute;
    top: -9px;
    right: -10px;
    padding: 2px 6px;
    border-radius: 100%;
    font-size: small;
    background: red;
    color: white;
}






































/* media queries  */

@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    .header .header1 {
        padding: 2rem;
    }

    section {
        padding: 3rem 2rem;
    }

}

@media (max-width:768px) {

    html {
        scroll-padding-top: 0;
    }

    body {
        padding-bottom: 6rem;
    }

    .header .header2 {
        display: none;
    }

    .bottom-navbar {
        display: block;
    }

    #search-btn {
        display: inline-block;
    }

    .header .header1 {
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header1 .search-form {
        position: absolute;
        top: -115%;
        right: 2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header1 .search-form.active {
        top: 115%;
    }

    .home .row .content {
        text-align: center;
    }

    .home .row .content h3 {
        font-size: 3.5rem;
    }

    .newsletter {
        background-position: right;
    }

    .newsletter form {
        margin-left: 0;
        max-width: 100%;
    }

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

}